openapi: 3.0.3
info:
  title: ARMO Platform Customer API (Kubescape) Access Keys Runtime Security API
  description: 'The ARMO Platform Customer API is the hosted REST API of ARMO Platform, the commercial multi-cluster, multi-cloud Kubernetes security SaaS built on the open-source Kubescape project (CNCF, Apache 2.0). It exposes the security posture, compliance, vulnerability, runtime threat detection, network policy, and registry/repository scanning data that Kubescape produces.

    The endpoint paths in this document are taken from the public ARMO Customer API reference (hub.armosec.io/reference/customer-api). Request and response schemas are honestly modeled by API Evangelist to represent typical payloads and are not copied verbatim from a published machine-readable spec; verify exact field names against the live reference before integrating.

    Note on the open-source tool: the core Kubescape CLI is not an HTTP API, and the in-cluster Operator components expose their own OpenAPI/Swagger UIs (/openapi/v2/swaggerui) only inside the cluster - not on this hosted host. This document covers the hosted ARMO Platform Customer API only.'
  version: '1.0'
  contact:
    name: ARMO / Kubescape
    url: https://www.armosec.io
  license:
    name: Apache-2.0 (open-source Kubescape core)
    url: https://github.com/kubescape/kubescape/blob/master/LICENSE
servers:
- url: https://api.armosec.io/api/v1
  description: ARMO Platform Customer API
security:
- apiKeyAuth: []
tags:
- name: Runtime Security
  description: Runtime incidents, attack chains, and security risks.
paths:
  /runtimeIncidents:
    get:
      operationId: listRuntimeIncidents
      tags:
      - Runtime Security
      summary: List runtime incidents
      description: Returns eBPF-based runtime threat detection incidents.
      responses:
        '200':
          description: Runtime incidents.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RuntimeIncident'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /runtimeIncidents/{guid}/alerts:
    get:
      operationId: getRuntimeIncidentAlerts
      tags:
      - Runtime Security
      summary: Get alerts for an incident
      parameters:
      - $ref: '#/components/parameters/Guid'
      responses:
        '200':
          description: Alerts.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
  /runtimeIncidents/{guid}/resolve:
    post:
      operationId: resolveRuntimeIncident
      tags:
      - Runtime Security
      summary: Resolve a runtime incident
      description: Marks an incident as FalsePositive or Suspicious.
      parameters:
      - $ref: '#/components/parameters/Guid'
      responses:
        '200':
          description: Resolved.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /attackChains:
    post:
      operationId: getAttackChains
      tags:
      - Runtime Security
      summary: Get attack path (attack chain) analysis
      requestBody:
        $ref: '#/components/requestBodies/ListRequest'
      responses:
        '200':
          description: Attack chains.
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
  /securityRisks:
    get:
      operationId: getSecurityRisks
      tags:
      - Runtime Security
      summary: Get prioritized security risks
      responses:
        '200':
          description: Security risks.
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid X-API-KEY.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    Guid:
      name: guid
      in: path
      required: true
      description: The GUID of the target resource.
      schema:
        type: string
  schemas:
    ListRequest:
      type: object
      description: Query body used across ARMO list endpoints.
      properties:
        pageSize:
          type: integer
          default: 50
        pageNum:
          type: integer
          default: 0
        orderBy:
          type: string
        innerFilters:
          type: array
          items:
            type: object
            additionalProperties: true
    RuntimeIncident:
      type: object
      properties:
        guid:
          type: string
        name:
          type: string
        severity:
          type: string
          enum:
          - Low
          - Medium
          - High
          - Critical
        cluster:
          type: string
        namespace:
          type: string
        workload:
          type: string
        status:
          type: string
          enum:
          - Active
          - FalsePositive
          - Suspicious
        creationTime:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        error:
          type: string
        code:
          type: integer
  requestBodies:
    ListRequest:
      description: Standard ARMO list/query body with pagination, sorting, and field filters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListRequest'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Agent Access Key generated in ARMO Platform under Settings > Agent Access Keys, sent in the X-API-KEY request header.
