openapi: 3.2.0
info:
  title: ARMO Platform Customer API (Kubescape) Network Policies API
  description: The ARMO Platform Customer API is the hosted REST API of ARMO Platform, the commercial multi-cluster, multi-cloud Kubernetes security SaaS built on the open-source Kubescape project (CNCF, Apache 2.0).
  version: '1.0'
  contact:
    name: ARMO / Kubescape
    url: https://www.armosec.io
  license:
    name: Apache-2.0 (open-source Kubescape core)
    url: https://github.com/kubescape/kubescape/blob/master/LICENSE
servers:
- url: https://api.armosec.io/api/v1
  description: ARMO Platform Customer API
security:
- apiKeyAuth: []
tags:
- name: Network Policies
  description: Generated NetworkPolicies and seccomp profiles.
paths:
  /networkPolicies:
    get:
      operationId: getNetworkPolicies
      tags:
      - Network Policies
      summary: Retrieve generated network policies
      responses:
        '200':
          description: Network policies.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
  /networkPolicies/generate:
    post:
      operationId: generateNetworkPolicies
      tags:
      - Network Policies
      summary: Generate least-privilege NetworkPolicies
      description: Generates Kubernetes NetworkPolicies from observed workload behavior (Bill of Behavior).
      requestBody:
        $ref: '#/components/requestBodies/ListRequest'
      responses:
        '200':
          description: Generated policies.
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
  /seccompProfiles/generate:
    post:
      operationId: generateSeccompProfiles
      tags:
      - Network Policies
      summary: Generate seccomp profiles
      requestBody:
        $ref: '#/components/requestBodies/ListRequest'
      responses:
        '200':
          description: Generated seccomp profiles.
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ListRequest:
      type: object
      description: Query body used across ARMO list endpoints.
      properties:
        pageSize:
          type: integer
          default: 50
        pageNum:
          type: integer
          default: 0
        orderBy:
          type: string
        innerFilters:
          type: array
          items:
            type: object
            additionalProperties: true
    Error:
      type: object
      properties:
        error:
          type: string
        code:
          type: integer
  requestBodies:
    ListRequest:
      description: Standard ARMO list/query body with pagination, sorting, and field filters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListRequest'
  responses:
    Unauthorized:
      description: Missing or invalid X-API-KEY.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Agent Access Key generated in ARMO Platform under Settings > Agent Access Keys, sent in the X-API-KEY request header.
